@import "tailwindcss";

@theme {
  --color-primary: #4c4ddc;
  --color-secondary: #c8c8f4;
  --color-accent-red: #e74c3c;
  --color-accent-yellow: #ffd33c;
  --color-foreground: #e1e1e1;
  --color-primary-foreground: #2a3038;

  /* --color-primary-light: #e4e4fa;
  --color-primary-subtle: #c8c8f4;
  --color-primary-dark: #3a3ac0;
  --color-neutral: #101010;
  --color-gray: "#E1E1E1"; */
}
/* 버튼/링크 → bg-primary text-white hover:bg-primary.dark

페이지 섹션 배경 → bg-primary-light

카드/배지 배경 → bg-primary-subtle

텍스트 → text-neutral

구분선 → border-neutral-gray */
